@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.introduction {


  &__container {
    @extend %container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include md {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 641px;

    @include lg {
      max-width: 575px;
    }

    @include sm {
      max-width: 455px;
    }

    @include xs {
      max-width: 393px;
    }

    @include xx {
      max-width: 335px;
    }

    @include ux {
      max-width: 300px;
    }

    &-title {
      @extend %text-liner-gradient;
      font-size: 42px;
      line-height: 50px;

      @include sm {

        font-size: 32px;
        line-height: 38px;
      }
    }

    &-description {

      font-size: 21px;
      line-height: 30px;

      @include sm {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}